<STYLE TEXT="TEXT/CSS">
  body{margin-left: 5%; margin-right: 5%;
       color: black; background: white;}
  hr,h1,h2,h3,h4{margin-left: -4%;}
  hr{margin-right: -4%;}
  i{color: red}
  em{color: green}
  cite{color: brown}
</STYLE>