/* CSS Minimo */
.bloco .title {
    display: block;
}

.bloco .label,
.bloco .separator {
    font-weight: bold;
}

.bloco .separator {
    margin-right: .6em;
}

/* exercicios */
div.exercicio {
  border-left: .3em solid #bbbbbb;
  margin-left: -.8em;
  padding-left: .4em;
  padding-bottom: 1px;
  position: relative;
  font-size: 90%;
}

div.exercicio .title {
  top: 0;
  width: 7em;
  margin-left: 1em;
/*
  position: absolute;
*/
  text-align: right;
  color: #444474;
}

div.exercicio .label {
  font-weight: normal;
}

/* Solução */
div.solucao {
  border-left: .3em solid #dc3c01;
  margin-left: -.8em;
  padding-left: .4em;
  position: relative;
  font-size: 90%;
}

div.solucao .conteudo {
  display: none;
  padding-top: 1px;
}

div.solucao button {
  color: #0000AF;
  background-color: white;
  border-radius: 5px;
}

div.solucao button.viewed {
  color: #FF0000;
  background-color: white;
  border-radius: 5px;
}

